@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Noto+Sans:wght@400;700&family=Poppins:ital@1&family=Titillium+Web:ital,wght@0,400;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #a8dadc;
}

.message {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px 10px;
    text-align: center;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.5);
    color: #000;
    text-transform: capitalize;
    cursor: pointer;
}

.btn,
.delete-btn,
.option-btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    transition: ease 0.5s;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: #343a40;
    border: 1px solid #fb5607;
}

.btn {
    background-color: #023047;
    margin-top: 10px;
}

.delete-btn {
    background-color: #e63946;
}

.option-btn {
    background-color: #fb5607;
}

.form-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form {
    width: 500px;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    background-color: #457b9d;
}

.form-container form h3 {
    font-size: 30px;
    margin: 10px;
    text-transform: uppercase;
    color: #000;
}

.form-container form .box {
    width: 100%;
    border-radius: 5px;
    padding: 12px 4px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid #000;
}


/* .form-container form .btn {
    display: inline-block;
    color: #000;
    font-size: 20px;
    padding: 15px 4px;
    cursor: pointer;
    background-color: #ffb703;
    border-radius: 5px;
    border: 1px solid #000;
} */

.form-container form p {
    margin-top: 5px;
    font-size: 20px;
    color: #fff;
}

.form-container form p a {
    color: #e63946;
}

.form-container form p a:hover {
    text-decoration: underline;
}